.nav {
  position: relative;
  margin-top: 4px;
  overflow: hidden;
  @media (max-width: 425px) {
    display: none;
  }
}

.list {
  display: flex;
  margin: 0 auto;
  max-width: var(--content-width);
  background: var(--white);

  @media (max-width: 1200px) {
    padding: 0 15px 0 18px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.item {
  position: relative;
  color: var(--grey);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 13px 0;
  cursor: pointer;
  white-space: nowrap;
  border-bottom: 1px solid var(--light-grey);
  padding-right: 18px;
  &:last-child {
    padding-right: 0;
    &:after {
      width: 100%;
    }
  }

  &:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: calc(100% - 18px);
    height: 2px;
    background: transparent;
  }
}

.itemActive {
  @extend .item;
  color: var(--dark);
}

.itemActive:after {
  background: var(--dark);
}
