:root {
  --dark: #1F2229;
  --content-width: 1116px;
  --grey: #7C8792;
  --grey-two: #959597;
  --grey-three: #EDEDED;
  --grey-four: #F3F5F6;
  --light-grey: #D3D9DF;
  --white: #FFFFFF;
}